In [1]:
import pandas as pd
import numpy as np
from numpy import asarray

from PIL import Image

from numpy import load
from numpy import expand_dims
from numpy import savez_compressed

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Conv2D, Flatten, Dropout
from tensorflow.keras.models import load_model

from tqdm import tqdm
from tqdm import tqdm_notebook

import ast

import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
# load the FaceNet model
facenet_model = load_model('FaceNet_Model/facenet_keras.h5')
facenet_model.load_weights('FaceNet_Model/facenet_keras_weights.h5')
print(facenet_model.inputs)
print(facenet_model.outputs)

WARNING:tensorflow:From /anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /anaconda3/lib/python3.7/site-packages/tensorflow/python/keras/layers/core.py:143: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:No training configuration found in save file: the model was *not* compiled. Compile it manually.
[<tf.Tensor 'input_1:0' shape=(?, 160, 160, 3) dtype=float32>]
[<tf.Tensor 'Bottleneck_BatchNorm/batchnorm/add_1:0' shape=(?, 128) dtype=float32>]

In [3]:
#Load the converted metadata files for the IMDB and Wikipedia images
photo_df = pd.read_csv('photo_info_df/All_photo_data.csv')

In [4]:
photo_df.head()

,name,dob,gender,photo_taken,age_when_taken,file_path,face_location,face_score
0,Fred Astaire,1899-05-10,1.0,1968,69,image_data/imdb_data/01/nm0000001_rm124825600_...,[1072.926 161.838 1214.784 303.696],1.459693
1,Fred Astaire,1899-05-10,1.0,1970,71,image_data/imdb_data/01/nm0000001_rm3343756032...,[477.184 100.352 622.592 245.76 ],2.543198
2,Fred Astaire,1899-05-10,1.0,1968,69,image_data/imdb_data/01/nm0000001_rm577153792_...,[114.96964309 114.96964309 451.68657236 451.68...,3.455579
3,Fred Astaire,1899-05-10,1.0,1968,69,image_data/imdb_data/01/nm0000001_rm946909184_...,[622.88550564 424.21750384 844.33900767 645.67...,1.872117
4,Fred Astaire,1899-05-10,1.0,1968,69,image_data/imdb_data/01/nm0000001_rm980463616_...,[1013.85900236 233.88204221 1201.5861278 42...,1.158766

# Obtain The Embeddings Of Each Picture

In [5]:
#This function opens the file and obtains an array representation of the picture
#It converts to RGB if the image is black and white
def obtain_image_pixels(filename):
    image = Image.open(filename)
    image = image.convert('RGB')
    return asarray(image)

In [6]:
#Resize the picture for model expectations
def resize_picture(image_array, dimensions = (160,160)):
    face_array_resized = Image.fromarray(image_array)
    face_array_resized = face_array_resized.resize(dimensions)
    return asarray(face_array_resized)

In [7]:
#The following function is from 'Deep Learning for Computer Vision' by Jason Brownlee, Page (508)

def get_embedding(filename):
    #obtain the face pixels
    cropped_face_array = obtain_image_pixels(filename)
    resized_face = resize_picture(cropped_face_array)
    
    # standardize pixel values across channels
    resized_face = resized_face.astype('float32')
    mean, std = resized_face.mean(), resized_face.std()
    resized_face = (resized_face - mean) / std
    
    
    # transform face into one sample
    observation = expand_dims(resized_face, axis=0)
    # make prediction to get embedding
    yhat = facenet_model.predict(observation)
    return yhat[0]

# Obtain the Embeddings Array for Each Picture

I will be performing this step in batches of 50,000 to ensure I save my data

In [8]:
photo_df_a = photo_df[0:50000]
photo_df_b = photo_df[50000:100000]
photo_df_c = photo_df[100000:150000]
photo_df_d = photo_df[150000:200000]
photo_df_e = photo_df[200000:250000]
photo_df_f = photo_df[250000:300000]
photo_df_g = photo_df[300000:350000]
photo_df_h = photo_df[350000:]

## Photo Dataframe With Embeddings - Part A

In [9]:
tqdm.pandas()
photo_df_a['embeddings_fn'] = photo_df_a.file_path.progress_apply(lambda x: get_embedding(x))

100%|██████████| 50000/50000 [1:19:12<00:00, 10.52it/s]

In [10]:
photo_df_a.to_csv('photo_info_df/photo_dfs_with_embeddings_fn/photo_dataframe_fn_embeddings_a.csv', index = False)

## Photo Dataframe With Embeddings - Part B

In [20]:
tqdm.pandas()
photo_df_b['embeddings_fn'] = photo_df_b.file_path.progress_apply(lambda x: get_embedding(x))

100%|██████████| 50000/50000 [1:07:18<00:00, 12.38it/s]

In [21]:
photo_df_b.to_csv('photo_info_df/photo_dfs_with_embeddings_fn/photo_dataframe_fn_embeddings_b.csv', index = False)

## Photo Dataframe With Embeddings - Part C

In [22]:
tqdm.pandas()
photo_df_c['embeddings_fn'] = photo_df_c.file_path.progress_apply(lambda x: get_embedding(x))

100%|██████████| 50000/50000 [1:09:04<00:00, 11.91it/s]

In [23]:
photo_df_c.to_csv('photo_info_df/photo_dfs_with_embeddings_fn/photo_dataframe_fn_embeddings_c.csv', index = False)

## Photo Dataframe With Embeddings - Part D

In [24]:
tqdm.pandas()
photo_df_d['embeddings_fn'] = photo_df_d.file_path.progress_apply(lambda x: get_embedding(x))

100%|██████████| 50000/50000 [1:15:48<00:00, 11.59it/s]

In [ ]:
photo_df_d.to_csv('photo_info_df/photo_dfs_with_embeddings_fn/photo_dataframe_fn_embeddings_d.csv', index = False)

## Photo Dataframe With Embeddings - Part E

In [ ]:
tqdm.pandas()
photo_df_e['embeddings_fn'] = photo_df_e.file_path.progress_apply(lambda x: get_embedding(x))

In [ ]:
photo_df_e.to_csv('photo_info_df/photo_dfs_with_embeddings_fn/photo_dataframe_fn_embeddings_e.csv', index = False)

## Photo Dataframe With Embeddings - Part F

In [ ]:
tqdm.pandas()
photo_df_f['embeddings_fn'] = photo_df_f.file_path.progress_apply(lambda x: get_embedding(x))

In [ ]:
photo_df_f.to_csv('photo_info_df/photo_dfs_with_embeddings_fn/photo_dataframe_fn_embeddings_f.csv', index = False)

## Photo Dataframe With Embeddings - Part G

In [ ]:
tqdm.pandas()
photo_df_g['embeddings_fn'] = photo_df_g.file_path.progress_apply(lambda x: get_embedding(x))

In [ ]:
photo_df_g.to_csv('photo_info_df/photo_dfs_with_embeddings_fn/photo_dataframe_fn_embeddings_g.csv', index = False)

## Photo Dataframe With Embeddings - Part H

In [ ]:
tqdm.pandas()
photo_df_h['embeddings_fn'] = photo_df_h.file_path.progress_apply(lambda x: get_embedding(x))

In [ ]:
photo_df_h.to_csv('photo_info_df/photo_dfs_with_embeddings_fn/photo_dataframe_fn_embeddings_h.csv', index = False)

# Testing The Loaded Dataframes

In [ ]:
photo_df_a.embeddings_fn[0]

In [11]:
photo_df_a_test = pd.read_csv('photo_info_df/photo_dfs_with_embeddings_fn/photo_dataframe_fn_embeddings_a.csv')

In [14]:
photo_df_a_test.head()

,name,dob,gender,photo_taken,age_when_taken,file_path,face_location,face_score,embeddings_fn
0,Fred Astaire,1899-05-10,1.0,1968,69,image_data/imdb_data/01/nm0000001_rm124825600_...,[1072.926 161.838 1214.784 303.696],1.459693,[-0.74029577 0.14542007 -0.5782049 -0.007681...
1,Fred Astaire,1899-05-10,1.0,1970,71,image_data/imdb_data/01/nm0000001_rm3343756032...,[477.184 100.352 622.592 245.76 ],2.543198,[-0.1463713 -0.5106522 -0.48219085 -0.486318...
2,Fred Astaire,1899-05-10,1.0,1968,69,image_data/imdb_data/01/nm0000001_rm577153792_...,[114.96964309 114.96964309 451.68657236 451.68...,3.455579,[ 0.35580358 0.14148678 0.11161471 -0.294302...
3,Fred Astaire,1899-05-10,1.0,1968,69,image_data/imdb_data/01/nm0000001_rm946909184_...,[622.88550564 424.21750384 844.33900767 645.67...,1.872117,[ 0.1044133 -0.80462444 -0.86017245 -0.593098...
4,Fred Astaire,1899-05-10,1.0,1968,69,image_data/imdb_data/01/nm0000001_rm980463616_...,[1013.85900236 233.88204221 1201.5861278 42...,1.158766,[-1.3740315 -0.807325 -0.21413553 0.019938...

In [15]:
#This function converts the saved string in the 'embeddings_fn' column to a numpy array

def convert_csv_to_embeddings(embedding_string):
    
    #I replace the '\n' and spaces in descending sequential order
    embedding_string = embedding_string.replace('\n', '').replace('     ', ' ').replace('    ', ' ').replace('   ', ' ').replace('  ', ' ').replace('[ ', '[').replace(' ]', ']').replace(' ', ', ')
    
    #This returns the string as an array in the proper type
    return asarray(ast.literal_eval(embedding_string)).astype('float32')

In [16]:
photo_df_a_test.embeddings_fn = photo_df_a_test.embeddings_fn.apply(lambda x: convert_csv_to_embeddings(x))

In [17]:
photo_df_a_test.tail()

,name,dob,gender,photo_taken,age_when_taken,file_path,face_location,face_score,embeddings_fn
49995,Helen Mirren,1945-07-26,0.0,2006,61,image_data/imdb_data/45/nm0000545_rm423598592_...,[ 19.47 94.99 188.8 264.32],3.604665,"[-1.8120025, 0.28149846, 0.3121094, -1.0389483..."
49996,Helen Mirren,1945-07-26,0.0,2010,65,image_data/imdb_data/45/nm0000545_rm4247355392...,[657 121 728 192],1.048586,"[-0.05423643, -0.68982863, -0.39840174, 0.3010..."
49997,Helen Mirren,1945-07-26,0.0,2012,67,image_data/imdb_data/45/nm0000545_rm4255495680...,[ 214.97509219 427.90218438 1171.09900705 138...,4.440606,"[-2.5662205, -1.0155399, 0.90715635, -0.783768..."
49998,Helen Mirren,1945-07-26,0.0,2014,69,image_data/imdb_data/45/nm0000545_rm426364160_...,[458.60634667 142.52749128 772.63720205 456.55...,3.129183,"[-1.2640227, -0.40872663, 0.12473733, -1.40543..."
49999,Helen Mirren,1945-07-26,0.0,2006,61,image_data/imdb_data/45/nm0000545_rm4267612672...,[101.18742489 126.25928111 325.9341309 351.00...,3.510877,"[-0.9934244, 0.5417279, -0.21745494, -0.552777..."

In [19]:
type(photo_df_a_test.embeddings_fn[499])

numpy.ndarray

In [ ]:
def resize_picture(filename, dimensions = (160,160), margin = 0):
            
    # load the image
    image = Image.open(filename)
    image = image.convert('RGB')
    image_array = asarray(image)
    
    #Set a margin boolean and while loop to try margin value
    margin_error = True
    
    while margin_error:
    
        try:
            #Crop the face further with MTCNN
            detector = MTCNN()
    
            #Obtain the first detected face in the cropped face picture
            first_detected_face = detector.detect_faces(image_array)[0]
        
            # get coordinates
            x1, y1, width, height = first_detected_face['box']
            x2, y2 = x1 + width + margin, y1 + height + margin       
            x1 -= margin
            y1 -= margin 
        
            face_array = image_array[y1:y2, x1:x2]
    
        except:
        
            face_array = image_array
        
        try:
            face_array_resized = Image.fromarray(face_array)
            face_array_resized = face_array_resized.resize(dimensions)
            
            margin_error = False
            break
            
        except:
            
            if margin > 0: 
                margin -= 1
            else:
                face_array_resized = Image.fromarray(image_array)
                face_array_resized = face_array_resized.resize(dimensions)
                break
    
    return asarray(face_array_resized)

In [ ]:
#The following function is from 'Deep Learning for Computer Vision' by Jason Brownlee, Page (508)

# get the face embedding for one face
def get_embedding(model, face_pixels):
    # scale pixel values
    face_pixels = face_pixels.astype('float32')
    # standardize pixel values across channels (global)
    mean, std = face_pixels.mean(), face_pixels.std()
    face_pixels = (face_pixels - mean) / std
    # transform face into one sample
    samples = expand_dims(face_pixels, axis=0)
    # make prediction to get embedding
    yhat = model.predict(samples)
    return yhat[0]

In [ ]:
# load the FaceNet model
facenet_model = load_model('FaceNet_Model/facenet_keras.h5')
#facenet_model.load_weights('FaceNet_Model/facenet_keras_weights.h5')
#    print(facenet_model.inputs)
#    print(facenet_model.outputs)

In [ ]:
get_embedding(facenet_model, picture1)

In [ ]:
#A check to see if the file path exists
file_exists = 0
file_not_exist = 0

for i in photo_info.file_path:
    if path.exists(i):
        file_exists += 1
    else: 
        file_not_exist += 1
        
print(file_exists)
print(file_not_exist)