In [1]:
import pandas as pd
import numpy as np
from numpy import asarray

from PIL import Image
from mtcnn.mtcnn import MTCNN

from numpy import load
from numpy import expand_dims
from numpy import savez_compressed
from keras.models import load_model

from tqdm import tqdm
from tqdm import tqdm_notebook

import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

Using TensorFlow backend.

## The Main DataFrame:

In [6]:
photo_df_A = pd.read_csv('photo_info_df/photo_dfs_with_images/photo_data_with_image_arrays_A.csv')
photo_df_B = pd.read_csv('photo_info_df/photo_dfs_with_images/photo_data_with_image_arrays_B.csv')
photo_df_C = pd.read_csv('photo_info_df/photo_dfs_with_images/photo_data_with_image_arrays_C.csv')
photo_df_D = pd.read_csv('photo_info_df/photo_dfs_with_images/photo_data_with_image_arrays_D.csv')

In [7]:
photo_df_A.head()

,name,dob,gender,photo_taken,age_when_taken,file_path,face_location,face_score,original_image_array
0,Fred Astaire,1899-05-10,1.0,1968,69,image_data/imdb_data/01/nm0000001_rm124825600_...,[1072.926 161.838 1214.784 303.696],1.459693,[[[ 12 17 13]\n [ 11 16 12]\n [ 13 15 ...
1,Fred Astaire,1899-05-10,1.0,1970,71,image_data/imdb_data/01/nm0000001_rm3343756032...,[477.184 100.352 622.592 245.76 ],2.543198,[[[152 148 103]\n [151 147 102]\n [153 149 1...
2,Fred Astaire,1899-05-10,1.0,1968,69,image_data/imdb_data/01/nm0000001_rm577153792_...,[114.96964309 114.96964309 451.68657236 451.68...,3.455579,[[[ 99 103 114]\n [ 99 103 114]\n [ 99 103 1...
3,Fred Astaire,1899-05-10,1.0,1968,69,image_data/imdb_data/01/nm0000001_rm946909184_...,[622.88550564 424.21750384 844.33900767 645.67...,1.872117,[[[162 179 160]\n [157 172 151]\n [148 162 1...
4,Fred Astaire,1899-05-10,1.0,1968,69,image_data/imdb_data/01/nm0000001_rm980463616_...,[1013.85900236 233.88204221 1201.5861278 42...,1.158766,[[[140 156 81]\n [152 168 97]\n [164 176 1...

In [2]:
#Load the converted metadata files for the images
photo_df = pd.read_csv('photo_info_df/All_photo_data.csv')

In [3]:
photo_df.head()

,name,dob,gender,photo_taken,age_when_taken,file_path,face_location,face_score
0,Fred Astaire,1899-05-10,1.0,1968,69,image_data/imdb_data/01/nm0000001_rm124825600_...,[1072.926 161.838 1214.784 303.696],1.459693
1,Fred Astaire,1899-05-10,1.0,1970,71,image_data/imdb_data/01/nm0000001_rm3343756032...,[477.184 100.352 622.592 245.76 ],2.543198
2,Fred Astaire,1899-05-10,1.0,1968,69,image_data/imdb_data/01/nm0000001_rm577153792_...,[114.96964309 114.96964309 451.68657236 451.68...,3.455579
3,Fred Astaire,1899-05-10,1.0,1968,69,image_data/imdb_data/01/nm0000001_rm946909184_...,[622.88550564 424.21750384 844.33900767 645.67...,1.872117
4,Fred Astaire,1899-05-10,1.0,1968,69,image_data/imdb_data/01/nm0000001_rm980463616_...,[1013.85900236 233.88204221 1201.5861278 42...,1.158766

In [4]:
#There are 372917 total images across 53690 individuals
photo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372917 entries, 0 to 372916
Data columns (total 8 columns):
name              372917 non-null object
dob               372917 non-null object
gender            372917 non-null float64
photo_taken       372917 non-null int64
age_when_taken    372917 non-null int64
file_path         372917 non-null object
face_location     372917 non-null object
face_score        372917 non-null float64
dtypes: float64(2), int64(2), object(4)
memory usage: 22.8+ MB

In [5]:
photo_df.name.nunique()

53690

In [6]:
photo_df[photo_df['file_path'].str.contains("image_data/imdb_data/", case=False)]

,name,dob,gender,photo_taken,age_when_taken,file_path,face_location,face_score
0,Fred Astaire,1899-05-10,1.0,1968,69,image_data/imdb_data/01/nm0000001_rm124825600_...,[1072.926 161.838 1214.784 303.696],1.459693
1,Fred Astaire,1899-05-10,1.0,1970,71,image_data/imdb_data/01/nm0000001_rm3343756032...,[477.184 100.352 622.592 245.76 ],2.543198
2,Fred Astaire,1899-05-10,1.0,1968,69,image_data/imdb_data/01/nm0000001_rm577153792_...,[114.96964309 114.96964309 451.68657236 451.68...,3.455579
3,Fred Astaire,1899-05-10,1.0,1968,69,image_data/imdb_data/01/nm0000001_rm946909184_...,[622.88550564 424.21750384 844.33900767 645.67...,1.872117
4,Fred Astaire,1899-05-10,1.0,1968,69,image_data/imdb_data/01/nm0000001_rm980463616_...,[1013.85900236 233.88204221 1201.5861278 42...,1.158766
5,Lauren Bacall,1924-09-16,0.0,1991,67,image_data/imdb_data/02/nm0000002_rm1075631616...,[ 686.67682059 458.46721373 1198.10043604 96...,3.490563
6,Lauren Bacall,1924-09-16,0.0,2004,80,image_data/imdb_data/02/nm0000002_rm1346607872...,[ 78.23569407 52.33512938 194.25423516 168.35...,3.479189
7,Lauren Bacall,1924-09-16,0.0,2004,80,image_data/imdb_data/02/nm0000002_rm1363385088...,[ 64.30867104 64.30867104 207.26768087 207.26...,3.870171
8,Lauren Bacall,1924-09-16,0.0,2004,80,image_data/imdb_data/02/nm0000002_rm1447271168...,[242.176 49.664 278.528 86.016],3.472944
9,Lauren Bacall,1924-09-16,0.0,2008,84,image_data/imdb_data/02/nm0000002_rm1624085760...,[108.03894851 28.82624961 158.4253978 79.21...,3.862811
10,Lauren Bacall,1924-09-16,0.0,1974,50,image_data/imdb_data/02/nm0000002_rm221957120_...,[3173.14469259 401.04083657 4059.15207489 128...,4.096431
11,Lauren Bacall,1924-09-16,0.0,2007,83,image_data/imdb_data/02/nm0000002_rm2287049216...,[138.80620248 33.92673853 181.15543773 76.27...,3.482030
12,Lauren Bacall,1924-09-16,0.0,1974,50,image_data/imdb_data/02/nm0000002_rm238734336_...,[2135.21778394 765.85377998 3499.48578791 213...,4.865421
13,Lauren Bacall,1924-09-16,0.0,2006,82,image_data/imdb_data/02/nm0000002_rm2585828096...,[ 70.08922574 87.46603217 225.89848365 243.27...,5.414545
14,Lauren Bacall,1924-09-16,0.0,2006,82,image_data/imdb_data/02/nm0000002_rm2602605312...,[ 52.186 121.05 129.12 197.984],4.349961
15,Lauren Bacall,1924-09-16,0.0,2006,82,image_data/imdb_data/02/nm0000002_rm2619382528...,[213.212 58.588 299.584 144.96 ],4.361549
16,Lauren Bacall,1924-09-16,0.0,2006,82,image_data/imdb_data/02/nm0000002_rm2769394176...,[109.42467459 82.24100594 231.0611835 203.87...,4.360469
17,Lauren Bacall,1924-09-16,0.0,2004,80,image_data/imdb_data/02/nm0000002_rm2780403712...,[117.05057012 74.12636008 171.69684018 128.77...,3.559209
18,Lauren Bacall,1924-09-16,0.0,1988,64,image_data/imdb_data/02/nm0000002_rm2805435904...,[548.38500497 200.71600181 769.838507 422.16...,3.410720
19,Lauren Bacall,1924-09-16,0.0,2004,80,image_data/imdb_data/02/nm0000002_rm2813958144...,[294.49013827 52.41849499 345.81663326 103.74...,4.344887
20,Lauren Bacall,1924-09-16,0.0,1974,50,image_data/imdb_data/02/nm0000002_rm289065984_...,[ 991.49939553 744.87654664 1430.41252351 118...,4.635294
21,Lauren Bacall,1924-09-16,0.0,2007,83,image_data/imdb_data/02/nm0000002_rm2983566080...,[ 85.53605744 47.74847636 170.04411489 132.25...,4.126855
22,Lauren Bacall,1924-09-16,0.0,1974,50,image_data/imdb_data/02/nm0000002_rm305843200_...,[1020.12114152 743.27564838 1430.36838123 115...,4.521520
23,Lauren Bacall,1924-09-16,0.0,2005,81,image_data/imdb_data/02/nm0000002_rm3224279040...,[317.3146448 88.26268899 377.26204487 148.21...,1.666039
24,Lauren Bacall,1924-09-16,0.0,2007,83,image_data/imdb_data/02/nm0000002_rm3453524224...,[197.03 72.998 289.408 165.376],2.778305
25,Lauren Bacall,1924-09-16,0.0,2007,83,image_data/imdb_data/02/nm0000002_rm3487078656...,[274.80881255 63.31178573 344.66182149 133.16...,3.739849
26,Lauren Bacall,1924-09-16,0.0,2005,81,image_data/imdb_data/02/nm0000002_rm350394368_...,[163.62184139 88.37822229 219.46055572 144.21...,3.461837
27,Lauren Bacall,1924-09-16,0.0,2008,84,image_data/imdb_data/02/nm0000002_rm3537671424...,[ 80.61559618 58.78225177 145.55562943 123.72...,4.220183
28,Lauren Bacall,1924-09-16,0.0,1991,67,image_data/imdb_data/02/nm0000002_rm370988544_...,[641.93731084 152.61019079 978.65424011 489.32...,1.024959
29,Lauren Bacall,1924-09-16,0.0,2006,82,image_data/imdb_data/02/nm0000002_rm3730086656...,[152.02730197 46.67404842 210.70650709 105.35...,2.682337
...,...,...,...,...,...,...,...,...
331354,Jane Levy,1989-12-29,0.0,2013,24,image_data/imdb_data/08/nm3994408_rm299802624_...,[1038.0842482 160.08742769 1194.07567589 31...,2.752587
331355,Jane Levy,1989-12-29,0.0,2011,22,image_data/imdb_data/08/nm3994408_rm2999759872...,[280.966 76.006 341.6 136.64 ],1.659039
331356,Jane Levy,1989-12-29,0.0,2011,22,image_data/imdb_data/08/nm3994408_rm3002449152...,[220.52468888 44.78813778 285.57189555 109.83...,3.494123
331357,Jane Levy,1989-12-29,0.0,2011,22,image_data/imdb_data/08/nm3994408_rm3086335232...,[397.11 35.014 457.744 95.648],3.896566
331358,Jane Levy,1989-12-29,0.0,2013,24,image_data/imdb_data/08/nm3994408_rm316579840_...,[265.44704615 160.08742769 421.43847384 316.07...,1.201887
331359,Jane Levy,1989-12-29,0.0,2012,23,image_data/imdb_data/08/nm3994408_rm3332746752...,[173.09139227 74.72831097 245.90770324 147.54...,2.644234
331360,Jane Levy,1989-12-29,0.0,2011,22,image_data/imdb_data/08/nm3994408_rm340373248_...,[234.61865346 73.90407921 365.26039603 204.54...,4.456509
331361,Jane Levy,1989-12-29,0.0,2012,23,image_data/imdb_data/08/nm3994408_rm3532828160...,[564.13725786 304.71144654 951.22797484 691.80...,4.799523
331362,Jane Levy,1989-12-29,0.0,2012,23,image_data/imdb_data/08/nm3994408_rm3650268672...,[1477.08265846 195.20730051 1633.07408615 35...,4.847264
331363,Jane Levy,1989-12-29,0.0,2014,25,image_data/imdb_data/08/nm3994408_rm3713712128...,[1508.83238208 840.00021227 2257.30857312 158...,3.953947
331364,Jane Levy,1989-12-29,0.0,2011,22,image_data/imdb_data/08/nm3994408_rm3845632_19...,[301.70117266 194.26718242 397.50576387 290.07...,2.318393
331365,Jane Levy,1989-12-29,0.0,2014,25,image_data/imdb_data/08/nm3994408_rm3926507520...,[472.86050429 199.69200181 583.5872553 310.41...,1.545827
331366,Jane Levy,1989-12-29,0.0,2011,22,image_data/imdb_data/08/nm3994408_rm4062552064...,[599.93878755 112.4304721 724.29806866 236.78...,4.072954
331367,Jane Levy,1989-12-29,0.0,2011,22,image_data/imdb_data/08/nm3994408_rm4163215360...,[182.07451717 140.28809013 306.43379828 264.64...,2.540905
331368,Jane Levy,1989-12-29,0.0,2011,22,image_data/imdb_data/08/nm3994408_rm4179992576...,[150.28527865 150.28527865 417.99878021 417.99...,5.388248
331369,Jane Levy,1989-12-29,0.0,2011,22,image_data/imdb_data/08/nm3994408_rm524922624_...,[358.80718811 37.3780396 423.7020594 102.27...,2.659479
331370,Jane Levy,1989-12-29,0.0,2011,22,image_data/imdb_data/08/nm3994408_rm540716544_...,[249.2290693 88.51449505 379.87081187 219.15...,2.663068
331371,Jane Levy,1989-12-29,0.0,2011,22,image_data/imdb_data/08/nm3994408_rm5419776_19...,[401.08967649 65.78892051 497.54305726 162.24...,4.155966
331372,Jane Levy,1989-12-29,0.0,2011,22,image_data/imdb_data/08/nm3994408_rm543141888_...,[321.23 146.51 451.36 276.64],2.222078
331373,Jane Levy,1989-12-29,0.0,2011,22,image_data/imdb_data/08/nm3994408_rm559919104_...,[378.59016863 144.75225472 458.68206191 224.84...,2.920835
331374,Jane Levy,1989-12-29,0.0,2011,22,image_data/imdb_data/08/nm3994408_rm56609536_1...,[645.88138444 125.45079349 746.70476093 226.27...,2.951297
331375,Jane Levy,1989-12-29,0.0,2011,22,image_data/imdb_data/08/nm3994408_rm591048192_...,[471.156 171.252 531.648 231.744],2.666526
331376,Jane Levy,1989-12-29,0.0,2012,23,image_data/imdb_data/08/nm3994408_rm663989760_...,[1094.72200993 151.04900135 1316.17551196 37...,3.594701
331377,Jane Levy,1989-12-29,0.0,2011,22,image_data/imdb_data/08/nm3994408_rm674934272_...,[341.652 55.38 402.144 115.872],4.146892
331378,Jane Levy,1989-12-29,0.0,2011,22,image_data/imdb_data/08/nm3994408_rm727691264_...,[212.9161521 135.80191498 298.81766888 221.70...,1.749585
331379,Jane Levy,1989-12-29,0.0,2011,22,image_data/imdb_data/08/nm3994408_rm73386752_1...,[161 161 448 448],4.801987
331380,Jane Levy,1989-12-29,0.0,2011,22,image_data/imdb_data/08/nm3994408_rm744468480_...,[300.756 96.276 422.592 218.112],2.370091
331381,Jane Levy,1989-12-29,0.0,2011,22,image_data/imdb_data/08/nm3994408_rm761245696_...,[453.89814313 77.96623713 539.7996599 163.86...,3.845884
331382,Jane Levy,1989-12-29,0.0,2011,22,image_data/imdb_data/08/nm3994408_rm943369728_...,[144.75225472 126.76472288 305.78804127 287.80...,4.450725
331383,Jane Levy,1989-12-29,0.0,2011,22,image_data/imdb_data/08/nm3994408_rm976924160_...,[457.524 41.748 518.016 102.24 ],2.133503

In [7]:
def obtain_image_array(filename):
    
    # load the image
    image = Image.open(filename)
    image = image.convert('RGB')
    image_array = asarray(image)
    
    return image_array

In [8]:
photo_df_A = photo_df[:100000]
photo_df_B = photo_df[100000:200000]
photo_df_C = photo_df[200000:300000]
photo_df_D = photo_df[300000:]

In [9]:
#This block of code obtains the image tensor from the image files (Part A)
tqdm.pandas()
photo_df_A['original_image_array'] = photo_df_A['file_path'].progress_apply(lambda x: obtain_image_array(x))

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100000/100000 [25:47<00:00, 64.62it/s]

In [10]:
photo_df_A.to_csv('photo_info_df/photo_data_with_image_arrays_A.csv', index = False)

In [11]:
photo_df_A.head()

,name,dob,gender,photo_taken,age_when_taken,file_path,face_location,face_score,original_image_array
0,Fred Astaire,1899-05-10,1.0,1968,69,image_data/imdb_data/01/nm0000001_rm124825600_...,[1072.926 161.838 1214.784 303.696],1.459693,"[[[12, 17, 13], [11, 16, 12], [13, 15, 12], [1..."
1,Fred Astaire,1899-05-10,1.0,1970,71,image_data/imdb_data/01/nm0000001_rm3343756032...,[477.184 100.352 622.592 245.76 ],2.543198,"[[[152, 148, 103], [151, 147, 102], [153, 149,..."
2,Fred Astaire,1899-05-10,1.0,1968,69,image_data/imdb_data/01/nm0000001_rm577153792_...,[114.96964309 114.96964309 451.68657236 451.68...,3.455579,"[[[99, 103, 114], [99, 103, 114], [99, 103, 11..."
3,Fred Astaire,1899-05-10,1.0,1968,69,image_data/imdb_data/01/nm0000001_rm946909184_...,[622.88550564 424.21750384 844.33900767 645.67...,1.872117,"[[[162, 179, 160], [157, 172, 151], [148, 162,..."
4,Fred Astaire,1899-05-10,1.0,1968,69,image_data/imdb_data/01/nm0000001_rm980463616_...,[1013.85900236 233.88204221 1201.5861278 42...,1.158766,"[[[140, 156, 81], [152, 168, 97], [164, 176, 1..."

In [9]:
#This block of code obtains the image tensor from the image files (Part A)
tqdm.pandas()
photo_df_B['original_image_array'] = photo_df_B['file_path'].progress_apply(lambda x: obtain_image_array(x))

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100000/100000 [08:44<00:00, 190.77it/s]

In [10]:
photo_df_B.to_csv('photo_info_df/photo_data_with_image_arrays_B.csv', index = False)

In [11]:
photo_df_B.head()

,name,dob,gender,photo_taken,age_when_taken,file_path,face_location,face_score,original_image_array
100000,RubÃ©n Blades,1948-07-16,1.0,1987,39,image_data/imdb_data/52/nm0001952_rm3375795712...,[ 133.12 395.264 1310.72 1572.864],4.095373,"[[[193, 193, 193], [193, 193, 193], [193, 193,..."
100001,RubÃ©n Blades,1948-07-16,1.0,2003,55,image_data/imdb_data/52/nm0001952_rm3472198656...,[300.05000271 151.04900135 745.00500677 596.00...,3.033747,"[[[158, 131, 101], [158, 131, 101], [159, 132,..."
100002,RubÃ©n Blades,1948-07-16,1.0,1987,39,image_data/imdb_data/52/nm0001952_rm4063661568...,[460.8 411.648 606.208 557.056],2.345388,"[[[188, 188, 188], [198, 198, 198], [205, 205,..."
100003,RubÃ©n Blades,1948-07-16,1.0,2003,55,image_data/imdb_data/52/nm0001952_rm4076178432...,[ 679.57785854 453.73457236 1016.29478781 79...,1.900567,"[[[188, 161, 108], [191, 164, 111], [192, 165,..."
100004,RubÃ©n Blades,1948-07-16,1.0,2012,64,image_data/imdb_data/52/nm0001952_rm4138971392...,[458.60634667 247.88710974 772.63720205 561.91...,1.274643,"[[[26, 118, 133], [9, 101, 116], [19, 111, 126..."

In [9]:
#This block of code obtains the image tensor from the image files (Part A)
tqdm.pandas()
photo_df_C['original_image_array'] = photo_df_C['file_path'].progress_apply(lambda x: obtain_image_array(x))

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100000/100000 [09:54<00:00, 168.17it/s]

In [10]:
photo_df_C.to_csv('photo_info_df/photo_data_with_image_arrays_C.csv', index = False)

In [11]:
photo_df_C.head()

,name,dob,gender,photo_taken,age_when_taken,file_path,face_location,face_score,original_image_array
200000,Autumn Reeser,1980-09-21,0.0,2010,30,image_data/imdb_data/08/nm1032208_rm2165408000...,[401.91418062 88.01908274 479.56195509 165.66...,2.170979,"[[[252, 252, 252], [252, 252, 252], [252, 252,..."
200001,Autumn Reeser,1980-09-21,0.0,2010,30,image_data/imdb_data/08/nm1032208_rm2198962432...,[359.64945851 74.07756296 424.69666517 139.12...,3.233140,"[[[165, 158, 140], [165, 158, 140], [165, 158,..."
200002,Autumn Reeser,1980-09-21,0.0,2010,30,image_data/imdb_data/08/nm1032208_rm2229634304...,[192.15 55.51 314.272 177.632],2.260269,"[[[53, 48, 42], [91, 86, 80], [139, 134, 130],..."
200003,Autumn Reeser,1980-09-21,0.0,2008,28,image_data/imdb_data/08/nm1032208_rm2319495168...,[417.791 321.839 703.648 607.696],3.581139,"[[[45, 40, 8], [47, 43, 8], [49, 45, 8], [51, ..."
200004,Autumn Reeser,1980-09-21,0.0,2005,25,image_data/imdb_data/08/nm1032208_rm2418315008...,[116.204 45.036 155.68 84.512],3.396308,"[[[163, 156, 164], [172, 164, 175], [172, 164,..."

In [9]:
#This block of code obtains the image tensor from the image files (Part A)
tqdm.pandas()
photo_df_D['original_image_array'] = photo_df_D['file_path'].progress_apply(lambda x: obtain_image_array(x))

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 72917/72917 [14:35<00:00, 83.24it/s]

In [10]:
photo_df_D.to_csv('photo_info_df/photo_data_with_image_arrays_D.csv', index = False)

In [11]:
photo_df_D.head()

,name,dob,gender,photo_taken,age_when_taken,file_path,face_location,face_score,original_image_array
300000,Thomas Craig,1962-12-04,1.0,2008,46,image_data/imdb_data/30/nm0186030_rm3448224000...,[442.28702511 210.58227505 648.77330017 417.06...,2.509885,"[[[57, 52, 46], [56, 51, 45], [54, 49, 43], [5..."
300001,Thomas Craig,1962-12-04,1.0,2008,46,image_data/imdb_data/30/nm0186030_rm3498555648...,[1253.25365032 280.09370007 1459.73992537 48...,2.294894,"[[[19, 16, 1], [18, 15, 0], [18, 15, 0], [17, ..."
300002,Thomas Craig,1962-12-04,1.0,2008,46,image_data/imdb_data/30/nm0186030_rm3532110080...,[510.1953939 303.17238157 677.52985854 470.50...,2.899812,"[[[86, 64, 41], [83, 63, 39], [81, 60, 39], [8..."
300003,Thomas Craig,1962-12-04,1.0,2008,46,image_data/imdb_data/30/nm0186030_rm3699882240...,[608.256 231.424 753.664 376.832],2.532674,"[[[70, 34, 10], [75, 39, 13], [88, 52, 20], [1..."
300004,Thomas Craig,1962-12-04,1.0,2008,46,image_data/imdb_data/30/nm0186030_rm635287808_...,[ 427.90218438 853.75636876 904.94014181 133...,3.279404,"[[[90, 88, 75], [90, 88, 75], [90, 88, 75], [9..."

In [ ]:
#This block combines and saves the dataframes
photo_df = pd.concat([photo_df_A, photo_df_B, photo_df_C, photo_df_D]).reset_index(drop=True)
photo_df.to_csv('photo_info_df/photo_data_with_image_arrays.csv', index = False)

In [ ]:
photo_df.head()

In [ ]:
def resize_picture(filename, dimensions = (160,160), margin = 0):
            
    # load the image
    #image = Image.open(filename)
    #image = image.convert('RGB')
    #image_array = asarray(image)
    
    image_array = filename
    
    #Set a margin boolean and while loop to try margin value
    margin_error = True
    
    while margin_error:
    
        try:
            #Crop the face further with MTCNN
            detector = MTCNN()
    
            #Obtain the first detected face in the cropped face picture
            first_detected_face = detector.detect_faces(image_array)[0]
        
            # get coordinates
            x1, y1, width, height = first_detected_face['box']
            x2, y2 = x1 + width + margin, y1 + height + margin       
            x1 -= margin
            y1 -= margin 
        
            face_array = image_array[y1:y2, x1:x2]
    
        except:
        
            face_array = image_array
        
        try:
            face_array_resized = Image.fromarray(face_array)
            face_array_resized = face_array_resized.resize(dimensions)
            
            margin_error = False
            break
            
        except:
            
            if margin > 0: 
                margin -= 1
            else:
                face_array_resized = Image.fromarray(image_array)
                face_array_resized = face_array_resized.resize(dimensions)
                break
    
    return asarray(face_array_resized)

In [ ]:
picture1 = resize_picture(photo_df.file_path[0], dimensions = (160,160), margin = 10)[1]

In [ ]:
def plot_face(face_data):
    
    # plot face
    plt.axis('off')
    plt.imshow(face_data)

In [ ]:
plot_face(picture1)

In [ ]:
#photo_df[photo_df['file_path'].str.contains("961400_1953-02-05_2011", case=False)]
#photo_df[photo_df['face_score']<=1]
photo_df.file_path[photo_df['face_score'] == photo_df['face_score'].max()]
photo_df.file_path[54153]

In [ ]:
test = photo_df[:100].copy()

In [ ]:
#tqdm.pandas()
#test['original_image_array'] = test['file_path'].progress_apply(lambda x: resize_picture(x, dimensions = (160,160), margin = 8))

In [ ]:
tqdm.pandas()
test['original_image_array'] = test['file_path'].progress_apply(lambda x: obtain_image_array(x))

In [ ]:
tqdm.pandas()
test['fn_resized_array'] = test['original_image_array'].progress_apply(lambda x: resize_picture(x, dimensions = (160,160), margin = 8))

In [ ]:
test.fn_resized_array[3].shape

### Preparation For The Model

In [ ]:
#The following function is from 'Deep Learning for Computer Vision' by Jason Brownlee, Page (508)

# get the face embedding for one face
def get_embedding(model, face_pixels):
    # scale pixel values
    face_pixels = face_pixels.astype('float32')
    # standardize pixel values across channels (global)
    mean, std = face_pixels.mean(), face_pixels.std()
    face_pixels = (face_pixels - mean) / std
    # transform face into one sample
    samples = expand_dims(face_pixels, axis=0)
    # make prediction to get embedding
    yhat = model.predict(samples)
    return yhat[0]

### The Model

In [ ]:
# load the FaceNet model
facenet_model = load_model('FaceNet_Model/facenet_keras.h5')
facenet_model.load_weights('FaceNet_Model/facenet_keras_weights.h5')
print(facenet_model.inputs)
print(facenet_model.outputs)

In [ ]:
get_embedding(facenet_model, picture1)